{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    Ваша корзина покупок
{% endblock %}
{% block content %}
    <h1>Ваша корзина покупок</h1>
    <table class="cart">
        <thead>
        <tr>
            <th>Изображение</th>
            <th>Товар</th>
            <th>Количество</th>
            <th>Убрать</th>
            <th>Цена за единицу</th>
            <th>Цена</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <td>
                        <a href="{{ product.get_absolute_url }}">
                            <img src="
                            {% if product.image %}
                                {{ product.image.url }}
                            {% else %}
                                {% static "img/no_image.png" %}
                            {% endif %}">
                        </a>
                    </td>
                    <td>{{ product.name }}</td>
                    <td>
                        <form action="{% url "cart:cart_add" product.id %}" method="post">
                            {{ item.update_quantity_form.quantity }}
                            {{ item.update_quantity_form.override }}
                            <input type="submit" value="Обновить">
                            {% csrf_token %}
                        </form>
                    </td>
                    <td>
                        <form action="{% url "cart:cart_remove" product.id %}"
                              method="post">
                            <input type="submit" value="Удалить">
                            {% csrf_token %}
                        </form>
                    </td>
                    <td class="num">&#8381; {{ item.price }}</td>
                    <td class="num">&#8381; {{ item.total_price }}</td>
                </tr>
            {% endwith %}
        {% endfor %}
        {% if cart.coupon %}
            <tr class="subtotal">
                <td>Сумма без скидки</td>
                <td colspan="4"></td>
                <td class="num">&#8381;{{ cart.get_total_price|floatformat:2 }}</td>
            </tr>
            <tr>
                <td>
                    "{{ cart.coupon.code }}" купон
                    ({{ cart.coupon.discount }}% скидка)
                </td>
                <td colspan="4"></td>
                <td class="num neg">
                    – &#8381;{{ cart.get_discount|floatformat:2 }}
                </td>
            </tr>
        {% endif %}
        <tr class="total">
            <td>Сумма</td>
            <td colspan="4"></td>
            <td class="num">
                &#8381;{{ cart.get_total_price_after_discount|floatformat:2 }}
            </td>
        </tr>
        </tbody>
    </table>
    {% if recommended_products %}
        <div class="recommendations cart">
            <h3>Вместе с этим товаром часто покупают</h3>
            {% for p in recommended_products %}
                <div class="item">
                    <a href="{{ p.get_absolute_url }}">
                        <img src="{% if p.image %}{{ p.image.url }}{% else %}
          {% static "img/no_image.png" %}{% endif %}">
                    </a>
                    <p><a href="{{ p.get_absolute_url }}">{{ p.name }}</a></p>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <p>Применить купон</p>
    <form action="{% url "coupons:apply" %}" method="post">
        {{ coupon_apply_form }}
        <input type="submit" value="Применить">
        {% csrf_token %}
    </form>

    <p class="text-right">
        <a href="{% url "shop:product_list" %}" class="button
    light">Продолжить покупки</a>
        <a href="{% url "orders:order_create" %}" class="button">Оформить заказ</a>
    </p>
{% endblock %}
