{% extends "shop/base.html" %}
{% block title %}
    Спасибо за покупку
{% endblock %}
{% block content %}
    <h1>Спасибо за покупку!</h1>
    <p>
        Ваш заказ был успешно выполнен. Ваш номер заказа - <strong>{{ order.id }}</strong>.
    </p>
{% endblock %}
