{% extends "shop/base.html" %}
{% block title %}
    Заказ
{% endblock %}
{% block content %}
    <h1>Заказ</h1>
    <div class="order-info">
        <h3>Ваша корзина</h3>
        <ul>
            {% for item in cart %}
                <li>
                    {{ item.quantity }}x {{ item.product.name }}
                    <span>&#8381;{{ item.total_price }}</span>
                </li>
            {% endfor %}
            {% if cart.coupon %}
                <li>
                    "{{ cart.coupon.code }}" ({{ cart.coupon.discount }}% скидки)
                    <span class="neg">- &#8381;{{ cart.get_discount|floatformat:2 }}</span>
                </li>
            {% endif %}
        </ul>
        <p>Общая сумма: &#8381;{{ cart.get_total_price_after_discount|floatformat:2 }}</p>
    </div>
    <form method="post" class="order-form">
        {{ form.as_p }}
        <p><input type="submit" value="Разместить заказ"></p>
        {% csrf_token %}
    </form>
{% endblock %}
