{% extends "admin/base_site.html" %}
{% block title %}
    Order {{ order.id }} {{ block.super }}
{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url "admin:index" %}">Home</a> &rsaquo;
        <a href="{% url "admin:orders_order_changelist" %}">Заказы</a>
        &rsaquo;
        <a href="{% url "admin:orders_order_change" order.id %}">Заказ {{ order.id }}</a>
        &rsaquo; Detail
    </div>
{% endblock %}
{% block content %}
    <div class="module">
        <h1>Заказ {{ order.id }}</h1>
        <ul class="object-tools">
            <li>
                <a href="#" onclick="window.print();">
                    Распечатать заказ
                </a>
            </li>
        </ul>
        <table>
            <tr>
                <th>Создание</th>
                <td>{{ order.created }}</td>
            </tr>
            <tr>
                <th>Изменение</th>
                <td>{{ order.first_name }} {{ order.last_name }}</td>
            </tr>
            <tr>
                <th>E-mail</th>
                <td><a href="mailto:{{ order.email }}">{{ order.email }}</a></td>
            </tr>
            <tr>
                <th>Адрес</th>
                <td>
                    {{ order.address }},
                    {{ order.postal_code }} {{ order.city }}
                </td>
            </tr>
            <tr>
                <th>Общая сумма</th>
                <td>&#8381;{{ order.get_total_cost }}</td>
            </tr>
            <tr>
                <th>Статус</th>
                <td>
                    {% if order.paid %}Оплачено{% else %}Ожидаемый платеж{% endif %}
                </td>
            </tr>
            <tr>
                <th>Stripe оплата</th>
                <td>
                    {% if order.stripe_id %}
                        <a href="{{ order.get_stripe_url }}" target="_blank">
                            {{ order.stripe_id }}
                        </a>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
    <div class="module">
        <h2>Купленные товары</h2>
        <table style="width:100%">
            <thead>
            <tr>
                <th>Товар</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Сумма</th>
            </tr>
            </thead>
            <tbody>
            {% for item in order.items.all %}
                <tr class="row{% cycle "1" "2" %}">
                    <td>{{ item.product.name }}</td>
                    <td class="num">&#8381;{{ item.price }}</td>
                    <td class="num">{{ item.quantity }}</td>
                    <td class="num">&#8381;{{ item.get_cost }}</td>
                </tr>
            {% endfor %}
            {% if order.coupon %}
                <tr class="subtotal">
                    <td colspan="3">Промежуточный результат</td>
                    <td class="num">
                        &#8381;{{ order.get_total_cost_before_discount|floatformat:2 }}
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        "{{ order.coupon.code }}" купон
                        ({{ order.discount }}% скидка)
                    </td>
                    <td class="num neg">
                        – &#8381;{{ order.get_discount|floatformat:2 }}
                    </td>
                </tr>
            {% endif %}
            <tr class="total">
                <td colspan="3">Сумма</td>
                <td class="num">&#8381;{{ order.get_total_cost|floatformat:2 }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
