<html>
<body>
<h1>My Shop</h1>
<p>
    Номер счёта {{ order.id }}<br>
    <span class="secondary">
      {{ order.created|date:"M d, Y" }}
    </span>
</p>
<h3>Счёт на</h3>
<p>
    {{ order.first_name }} {{ order.last_name }}<br>
    {{ order.email }}<br>
    {{ order.address }}<br>
    {{ order.postal_code }}, {{ order.city }}
</p>
<h3>Купленные товары</h3>
<table>
    <thead>
    <tr>
        <th>Товар</th>
        <th>Цена</th>
        <th>Количество</th>
        <th>Сумма</th>
    </tr>
    </thead>
    <tbody>
    {% for item in order.items.all %}
        <tr class="row{% cycle "1" "2" %}">
            <td>{{ item.product.name }}</td>
            <td class="num">&#8381;{{ item.price }}</td>
            <td class="num">{{ item.quantity }}</td>
            <td class="num">&#8381;{{ item.get_cost }}</td>
        </tr>
    {% endfor %}

    {% if order.coupon %}
      <tr class="subtotal">
        <td colspan="3">Промежуточный результат</td>
        <td class="num">
          &#8381;{{ order.get_total_cost_before_discount|floatformat:2 }}
        </td>
      </tr>
      <tr>
        <td colspan="3">
          "{{ order.coupon.code }}" купон
          ({{ order.discount }}% скидка)
        </td>
        <td class="num neg">
          – &#8381;{{ order.get_discount|floatformat:2 }}
        </td>
      </tr>
    {% endif %}

    <tr class="total">
        <td colspan="3">Сумма</td>
        <td class="num">&#8381;{{ order.get_total_cost }}</td>
    </tr>
    </tbody>
</table>
<span class="{% if order.paid %}paid{% else %}pending{% endif %}">
    {% if order.paid %}Оплачено{% else %}Ожидает оплаты{% endif %}
  </span>
</body>
</html>
