{% extends "shop/base.html" %}
{% block title %}Платеж отменен{% endblock %}
{% block content %}
    <h1>Ваш платеж не был обработан</h1>
    <p>Возникла проблема с обработкой вашего платежа.</p>
{% endblock %}
