{% extends "shop/base.html" %}
{% block title %}Платеж прошел успешно{% endblock %}
{% block content %}
    <h1>Ваш платеж прошел успешно</h1>
    <p>Ваш платеж был успешно обработан.</p>
{% endblock %}
