{% extends "shop/base.html" %}
{% load static %}
{% block title %}Список покупок{% endblock %}
{% block content %}
    <h1>Сумма заказа</h1>
    <table class="cart">
        <thead>
        <tr>
            <th>Изображение</th>
            <th>Товар</th>
            <th>Цена</th>
            <th>Количество</th>
            <th>Сумма</th>
        </tr>
        </thead>
        <tbody>
        {% for item in order.items.all %}
            <tr class="row{% cycle "1" "2" %}">
                <td>
                    <img src="
                    {% if item.product.image %}
                        {{ item.product.image.url }}
                    {% else %}
                        {% static "img/no_image.png" %}
                    {% endif %}
                    ">
                </td>
                <td>{{ item.product.name }}</td>
                <td class="num">&#8381; {{ item.price }}</td>
                <td class="num">{{ item.quantity }}</td>
                <td class="num">&#8381; {{ item.get_cost }}</td>
            </tr>
        {% endfor %}
        {% if order.coupon %}
            <tr class="subtotal">
                <td>Промежуточный итог</td>
                <td colspan="3"></td>
                <td class="num">
                    &#8381;{{ order.get_total_cost_before_discount|floatformat:2 }}
                </td>
            </tr>
            <tr>
                <td>
                    "{{ order.coupon.code }}" купон
                    ({{ order.discount }}% скидка)
                </td>
                <td colspan="3"></td>
                <td class="num neg">
                    – &#8381;{{ order.get_discount|floatformat:2 }}
                </td>
            </tr>
        {% endif %}
        <tr class="total">
            <td>Сумма</td>
            <td colspan="3"></td>
            <td class="num">
                &#8381;{{ order.get_total_cost|floatformat:2 }}
            </td>
        </tr>

        </tbody>
    </table>
    <form action="{% url "payment:process" %}" method="post">
        <input type="submit" value="Оплатить заказ">
        {% csrf_token %}
    </form>
{% endblock %}